<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Palacios Tech</title>
    <link rel="stylesheet" href="tienda.component.css">
    <script src="main.js"></script>
    <link rel="icon" type="image/x-icon" href="/img/iconlogo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<header>
   <!--Header, y menu desplegable-->
    <nav class="nav">

    <div class="nav__container">
            <h1 class="nav__title">Tienda</h1>


        <a href="#menu" class="nav__menu">
            <img src="/assets/menu.svg" class="nav__icon">
        </a>

        <a href="#" class="nav__menu nav__menu--second">
            <img src="/assets/close.svg" class="nav__icon ">
        </a>

        <ul class="dropdown" id="menu">

            <li class="dropdown__list">
                <a href="../index/index.component.html" class="dropdown__link">
                    <img src="/assets/house.svg" class="dropdown__icon">
                    <span class="dropdown__span">Inicio</span>
                </a>
            </li>

            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="/assets/projects.svg" class="dropdown__icon">
                    <span class="dropdown__span">Servicios</span>
                    <img src="/assets/down.svg" class="dropdown__arrow">

                    <input type="checkbox" class="dropdown__check">
                </a>

                <div class="dropdown__content">

                    <ul class="dropdown__sub">
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">Diseño Gráfico</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">Tipitapa Online</a>
                        </li>

                    </ul>

                </div>
            </li>

            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="/assets/email.svg" class="dropdown__icon">
                    <span class="dropdown__span">Contacto</span>
                    <img src="/assets/down.svg" class="dropdown__arrow">

                    <input type="checkbox" class="dropdown__check">
                </a>

                <div class="dropdown__content">

                    <ul class="dropdown__sub">

                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">TipitapaTech@mail.com</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">+505 84017655</a>
                        </li>
                      

                    </ul>

                </div>
            </li>

            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="/assets/help.svg" class="dropdown__icon">
                    <span class="dropdown__span">Ayuda</span>
                </a>
            </li>

        </ul>

    </div>

</nav>
</header>

<main>
    <div class="card">
    <img src="/img/mango.jpg" alt="Producto 1">
        <h3>Nombre del Producto 1</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="card">
    <img src="/img/mango2.jpg" alt="Producto 2">
    <h3>Nombre del Producto 2</h3>
    <p>Precio: C$XX.XX</p>
    <p>Precio de envío (casco urbano Tipitapa): C$X.XX</p>
    <p>Precio de envío (fuera de Tipitapa): C$X.XX</p>
    <button>Añadir al Carrito
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>
</main>

<footer>
    <p>Visítanos en nuestras redes sociales y descubre ofertas:</p>
    <ul>
        <li><a href="#"><i class="fab fa-instagram"></i><span> Instagram</span></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i><span> Facebook</span></a></li>
        <li><i class="fa fa-phone-square"></i><a href="#"><span> Teléfono +505 **** ****</span></a></li>
        <li><i class="fa fa-envelope-o"></i><a href="#"><span> Correo: PalaciosTech@outlook.com</span></a></li>
        <li><i class="fa fa-map-marker"></i><a href="#"><span> Dirección: Managua, Nicaragua</span></a></li>
    </ul>
</footer>


</body>
</html>


<router-outlet />