<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangoTech</title>
    <link rel="stylesheet" href="app.component.css">
    <script src="main.js"></script>
    <link rel="icon" type="image/x-icon" href="/mango4.jpg">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
      <nav>
          <ul>
              <li><a href="app.component.html">Inicio</a></li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Nuestros Servicios</a>
                  <div class="dropdown-content">
                      <a href="#">Desarrollo de Software Empresarial/Pymes</a>
                      <a href="#">Diseño y Desarrollo Web</a>
                      <a href="#">Consultoría de TI</a>
                      <a href="#">Integración de Sistemas</a>
                      <a href="#">Hardware, Accesorios y Licencias</a>
                      <a href="#">Gaming y Profesionales</a>
                  </div>
              </li>
              <li><a href="#">Sobre Nosotros</a></li>
              <li><a href="#">Registrarse</a></li>
              <li><a href="#">Iniciar Sesión</a></li>
          </ul>
      </nav>
  </header>

  <main>
    <main>
      <section id="about">
          <h2>Sobre Mango Tech</h2>
          <p>Somos una empresa dedicada a ofrecer soluciones tecnológicas innovadoras para tu negocio. Nuestro equipo de expertos en tecnología está comprometido con brindarte la mejor calidad y servicio.</p>
      </section>

      <section id="gallery">
          <h2>Servicios Principales</h2>
          <div class="image-gallery">
              <div class="image-item">
                  <img src="/img/delivery.jpg" alt="Imagen 1">
                  <div class="image-overlay">
                      <h3>Tipitapa Online</h3>
                      <p>Tienda Online de Conveniencia donde todos los tipitapeños podrán comprar en línea y eligir su delivery favorito</p>
                      <a href="#" class="button">Ir a Tipitapa Online</a>
                  </div>
              </div>
              <div class="image-item">
                  <img src="/img/hardware.jpg" alt="Imagen 2">
                  <div class="image-overlay">
                      <h3>Tienda de Hardware</h3>
                      <p>Te llevamos hasta la puerta de tu casa tu vaina</p>
                      <a href="tienda/tienda.component.html" target="_blank" class="button">Tienda de Hardware</a>
                  </div>
              </div>
              <!-- Agrega más imágenes según sea necesario -->
          </div>
      </section>

    <section id="other-services">
        <h2>Otros Servicios</h2>
        <div class="service-item">
            <img src="/img/hardware.jpg" alt="Servicio de Tienda de Informática">
            <div class="service-overlay">
                <a href="tienda/tienda.component.html" target="_blank" class="button">Hardware, Accesorios y Licencias</a>
            </div>
        </div>
        <div class="service-item">
          <img src="/img/diseñoweb.jpg" alt="Servicio de Tienda de Informática">
          <div class="service-overlay">
              <a href="url-tienda-informatica" class="button">Diseño y Desarrollo Web</a>
          </div>
      </div>
      <div class="service-item">
        <img src="/img/consultoria.jpg" alt="Servicio de Tienda de Informática">
        <div class="service-overlay">
            <a href="url-tienda-informatica" class="button">Consultoría de TI</a>
        </div>
    </div>
    <div class="service-item">
      <img src="/img/integracion.jpg" alt="Servicio de Tienda de Informática">
      <div class="service-overlay">
          <a href="url-tienda-informatica" class="button">Integración de Sistemas</a>
      </div>
  </div>
  <div class="service-item">
    <img src="/img/gaming.jpg" alt="Servicio de Tienda de Informática">
    <div class="service-overlay">
        <a href="url-tienda-informatica" class="button">Gaming y Profesionales</a>
    </div>
    </section>

  </main>
  
  </main>

  <footer>
    <p>Visítanos en nuestras redes sociales y descubre ofertas:</p>
    <ul>
        <li><a href="#"><i class="fab fa-instagram"></i><span> Instagram</span></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i><span> Facebook</span></a></li>
        <li><i class="fa fa-phone-square"></i><a href="#"><span> Teléfono +505 **** ****</span></a></li>
        <li><i class="fa fa-envelope-o"></i><a href="#"><span> Correo: MangoTechSolutions@outlook.com</span></a></li>
        <li><i class="fa fa-map-marker"></i><a href="#"><span> Dirección: Managua, Nicaragua</span></a></li>
    </ul>
</footer>
</body>
</html>


<router-outlet />
